DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=YOUR_DB_NAME
DB_ADMIN_USER=YOUR_DB_ADMIN_USER
DB_ADMIN_PASSWORD=YOUR_DB_ADMIN_PASSWORD
DB_APP_USER=YOUR_DB_APP_USER
DB_APP_PASSWORD=YOUR_DB_APP_PASSWORD

LLM_BASE_URL=http://127.0.0.1:8080/v1
LLM_API_KEY=YOUR_LLM_API_KEY
